#jumpHeader{
    height: 85px
}
#jumpfooter{
    height: 85px
}
#acceptbuttonnewevent{
    padding: 20px;
}
header{
    height: 80px;
}
footer{
    background-color: #353535;
}
#body{
    align-content:  center;
}
.tdachiev{
    text-align: center;
}

#padd{
    margin-left: 10px;
}

.buttonindex{
    align-content: center;
}
#allyHorde{
    width: 50px;
}
.navbar{
    transition: background-color 0.5s ease;
    background-color: #353535;
    font-size: 20px;
}
.navbar-brand{

}
.nav-link{
    transition: background-color 0.5s ease;
    background-color: #353535;
    color: white;
    text-align: center;
    width: 120%;
    border-radius: 200px;
    
}
ul.navbar-nav {
    display: inline-block;
}



.nav-link:hover{
    transition: background-color 0.5s ease;
    background-color: #7D7D7D;
    color: white;   
}


body{
    background-color: #474747;
    color: white;
}

#form_creation{
    background-color: #363636;
    border-radius: 25px;
}
#inFormCreation{
    padding: 20px;
}
    

.lien{
    transition: color 1s ease;
    color: white;
    text-decoration: underline;
}
.lien:hover{
    transition: color 1s ease;
    color: #4AE302;
}

#factionLabel,#serverLabel{
    padding-right: 0px;
}

