#jumpHeader{
    height: 85px
}
header{
    height: 80px;
}
footer{
    background-color: #353535;
}
#footer{
    top: 50%;
    bottom:50%;
}
#allyHorde{
    width: 50px;
}
.navbar{
    transition: background-color 0.5s ease;
    background-color: #353535;
    font-size: 
}
.navbar-brand{

}
.nav-link{
    transition: background-color 0.5s ease;
    background-color: #353535;
    color: white;
    border-radius: 200px;
}

.nav-link:hover{
    transition: background-color 0.5s ease;
    background-color: #7D7D7D;
    color: white;   
}

body{
    background-color: #474747;
    color: white;
}
.lien{
    transition: color 1s ease;
    color: white;
    text-decoration: underline;
}
.lien:hover{
    transition: color 1s ease;
    color: #4AE302;
}